[Desktop Entry]
Name=Eric 3
Comment=Eric3 is a full featured Python IDE
Comment[pl]=Eric3 - pełnowartościowe IDE dla Pythona
Icon=eric3.png
Exec=eric3
Terminal=false
Type=Application
Categories=Development;IDE;
Encoding=UTF-8
# vi: encoding=utf-8
